################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/TestCalculator/FileContentIndex/35ce8a6f-53c4-45e1-bede-9342583ffeaa.vsidx
/.vs/TestCalculator/FileContentIndex/c5bd6433-de1c-4d68-8ce5-5fedf1613736.vsidx
