################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/TestCalculator/FileContentIndex/3d31059d-a360-4a92-b1f6-e7b3d2de06cd.vsidx
/.vs/TestCalculator/FileContentIndex
